<div>
    <div class="section-six">
        <div>
            <img class="section-six-image" src="../assets/images/ShowUsYourCreation.jpg" />
        </div>
        <div>
            <h4>YOUR ART</h4>
            <h2>Share Your Creation</h2>
        </div>
    </div>
</div>
<hr class="line">
<div class="footer">
    <div>
        <img class="logo" src="../assets/images/angry-birds-logo.webp" />
        <div class="icons">
            <i class="fa-brands fa-facebook" style="color: #fbfaf9"></i>
            <i class="fa-brands fa-x-twitter" style="color: #fbfaf9"></i>
            <i class="fa-brands fa-instagram" style="color: #fbfaf9"></i>
            <i class="fa-brands fa-youtube" style="color: #fbfaf9"></i>
            <i class="fa-brands fa-discord" style="color: #fbfaf9"></i>
        </div>
    </div>
    <div class="footer-right">
        <a href="">Explore</a>
        <a href="">Play</a>
        <a href="">Watch</a>
        <a href="">Create</a>
        <a href="">Merch</a>
    </div>
</div>