<div>

    <div class="section-two">
        <div>
            <img class="section-two-images" src="../assets/images/banner1.jpg" />
            <h2>Angry Birds 2</h2>
        </div>

        <div>
            <img class="section-two-images" src="../assets/images/Dream-blast.jpg" />
            <h2>Angry Birds Dream Blast</h2>
        </div>

        <div>
            <img class="section-two-images" src="../assets/images/birds-friends.jpg" />
            <h2>Angry Birds Friends</h2>
        </div>


    </div>
</div>













