.section-two {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 6rem;
    flex-wrap: wrap;
}
.section-two-images {
    border-radius: 20px;
    height: 380px;
    width: 410px;
}
.section-two h2 {
    font-weight: 400;
    color: white;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

















