.section-five-images {
    height: 200px;
    width: 390px;
    border-radius: 15px;
}
.section-five h3{
    margin-left: 5rem;
}
 hr{
    color: white;
 }
.section-five-child {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-five-child p {
    color: white;
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 1rem;
}