


<div>
<img class="logo" src="../assets/images/angry-birds-logo.webp"/>
<div class="banner-parent">
    <img class="banner-parent" src="../assets/images/banner.jpg"/>
</div>

<div class="section-two">
    <div class="section-two-child">
        <img class="logo-two" src="../assets/images/birds-friends.jpg"/>
        <h4>Angry Birds <br> Friends</h4>
    </div>

    <div class="section-two-child">
        <img class="logo-two" src="../assets/images/birds-friends.jpg"/>
        <h4>Angry Birds <br> Journey</h4>
    </div>

    <div class="section-two-child">
        <img class="logo-two" src="../assets/images/birds-friends.jpg"/>
        <h4>Angry Birds Dream <br> Blast</h4>
    </div>

    <div class="section-two-child">
        <img class="logo-two" src="../assets/images/birds-friends.jpg"/>
        <h4>Angry Birds 2</h4>
    </div>

</div>
</div>
