
.section-three {
    display: flex;
    justify-content: space-evenly;
    line-height: 1px;
    flex-wrap: wrap;
}

.section-three-image {
    width: 410px;
    height: 200px;
    border-radius: 15px;
}

.section-three h4 {
    color: white;
    font-weight: 300;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  
}