<div>
    <h3 class="section-three-title">GAMEPLAY</h3>
    <div class="section-three">
        <div>
            <img class="section-three-image" src="../assets/images/birds-friends.jpg" />
            <h4>Angry Birds Friends Tutorials | Crash Course Part 1 </h4>
        </div>

        <div>
            <img class="section-three-image" src="../assets/images/birds-friends.jpg" />
            <h4>Angry Birds Friends Tutorials | Crash Course Part 1 </h4>
        </div>

        <div>
            <img class="section-three-image" src="../assets/images/birds-friends.jpg" />
            <h4>Angry Birds Friends Tutorials | Crash Course Part 1 </h4>
        </div>
    </div>


</div>