.section-three-title {
    color: white;
    margin-left: 6.9rem;
    font-weight: 500;
    margin-top: 5rem;
}

.section-three {
    display: flex;
    justify-content: center;
    gap: 2rem;
    line-height: 1px;
}

.section-three-image {
    width: 410px;
    height: 200px;
    border-radius: 15px;
}

.section-three h4 {
    color: white;
    font-weight: 550;
    margin-left: 0.5rem;
  
}