<div class="mt-5 text-white">
    <h3 class="ms-5 mb-3">GAMEPLAY</h3>
    <hr>
    <div class="section-three">
        <div>
            <img class="img-fluid section-three-image" src="../assets/images/birds-friends.jpg" />
            <h4>Angry Birds Friends Tutorials | <br> Crash Course Part 1 </h4>
        </div>

        <div>
            <img class="img-fluid section-three-image" src="../assets/images/birds-friends.jpg" />
            <h4>Angry Birds Friends Tutorials | <br> Crash Course Part 1 </h4>
        </div>

        <div>
            <img class="img-fluid section-three-image" src="../assets/images/birds-friends.jpg" />
            <h4>Angry Birds Friends Tutorials | <br> Crash Course Part 1 </h4>
        </div>
    </div>


</div>